.range-sky {
 --range-shdw: #7fd4fc;
}
.range-emerald {
 --range-shdw: #6ee7b7;
}
.range-teal {
 --range-shdw: #5eead4;
}
.range-purple {
 --range-shdw: #d8b4fe;
}
.range-indigo {
 --range-shdw: #a5b4fc;
}
.range-amber {
 --range-shdw: #fcd34d;
}
